.G1{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: blueviolet;
    
    
        }
    
    .G2{
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        color: red;
    
    
        }
    
    .G3{
    color: blue;
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    
        }
    
    .G4{
        color:rgb(174, 77, 21);
        font-size: 30px;
        font-weight: bolder;
        text-align: left;
    
        }
    